#HighScoreList {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

#HighScoreList .cell {
		-fx-background-color: black;
		-fx-font-size: 14pt;
		-fx-text-fill: crimson;
		-fx-text-alignment: center;
}

#HighScoreList .cell:empty {
	-fx-background-color: transparent;
	
}
