#HighScoreList {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

#HighScoreList .cell {
		-fx-background-color: transparent;
		-fx-font-size: 15px;
		-fx-font-weight: bold;
		-fx-text-fill: orange;
		-fx-text-alignment: left;
}

.startMenu {
	-fx-background-color: #0f0f0f;
	-fx-background-image: url("/images/background.jpg");
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}
#front1:hover{
	-fx-effect: dropshadow(gaussian, #ff0000, 1,1,1,1);
	
}
#front1:pressed{
	-fx-effect: dropshadow(gaussian, #ffffff, 1,1,1,1);
	
}