#HighScoreList {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

#HighScoreList .cell {
		-fx-background-color: transparent;
		-fx-font-size: 15px;
		-fx-font-weight: bold;
		-fx-text-fill: orange;
		-fx-text-alignment: center;
		-fx-alignment: center
}

.startMenu {
	-fx-background-color: #0f0f0f;
	-fx-background-image: url("/images/background.jpg");
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
}

.gameBoard {
	-fx-background-image: url("/images/gbbackground.jpg");
}

.whiteBox {
	-fx-background-color: rgba(255,255,255,0.7);
	-fx-border-style: solid;
	-fx-border-width: 2px;
}